[override] osb-film-tv-guide {
  #filmLoader {
    width: 100%;
    min-height: 90px;
    display: block;
    position: relative;

    div {
      width: 70px;
      text-align: center;
      margin: 0 auto;

      i {
        font-size: 30px;
      }
    }
  }
}